<h2 mat-dialog-title>Update</h2>
<mat-dialog-content>
  <form class="form "[formGroup]="inventoryForm">
  <mat-form-field appearance="fill">
    <mat-label>catalogId</mat-label>
    <input matInput formControlName="catalogId">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>color</mat-label>
    <input matInput formControlName="color">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>numberOfWheels</mat-label>
    <input matInput formControlName="numberOfWheels">
  </mat-form-field>

  <mat-form-field appearance="fill">
      <mat-label>serialNumber</mat-label>
      <input matInput formControlName="serialNumber">
  </mat-form-field>


  

  </form> 
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button color="primary" (click)="updateInventory()">Update Item</button>
</mat-dialog-actions>
